
$h-color : rgba(50,50,50,.8); // header color
$f-color : rgba(50,50,50,.8); // footer color

/* contact me colors */

$contact-bg : orangered;
$contact-bg-active : #ff571a;
$contact-bg-hover : #ff7c4d;
$d-icon : whitesmoke; //default icon color
$h-icon : whitesmoke; // hover icon color
$a-icon : white; // active icon color

/* contact me colors end */


/* section colors */

$section-bg : rgba(250,250,250,.7);

/* section colors end */

$d-fa_footer : rgb(190,190,190);