.work-icon {
    text-align: center;
    padding: 40px;
    background-color: white;
}

.work-details {
    padding: 2%;
    margin: 2%;
}

.work__picture {
    text-align: center;
}



